@model DIARS_PROYECTO_FINAL.Models.Usuario
@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard</h2>

<fieldset>
    <legend> User DashBoard </legend>

    @if (Session["username"] != null)
    {<text>
            Bienvenido @Session["username"].ToString() 
    </text>
    }
</fieldset> 